.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
  margin:3px;
}
.square {
  height: 50px;
  width: 50px;
  background-color: #555;
  margin:3px;
}
.err {
  color: red;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
}
.log{
  padding: 10%;
}
.home{
  padding: 5%;
}
.header{
  text-align: right;
}
.drawHere{
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  border-style: solid;
  border-color: #cc3399;
  border-width: 2px;

}
button{
  color: #000000;
  background-color: #cc3399;
  border: none;
  height: 30px;
}
